html{
  height:100%; /* tecnica 1 para footer****************/
}

body{
  margin: 0px;
  display:flex; /* tecnica 1 para footer****************/
  flex-direction:column; /* tecnica 1 para footer****************/
  min-height: 100%;  /* tecnica 1 para footer****************/

}
section{

  display: flex; 
  flex-direction:row;
  min-height: 80vh;
}
.content-right{
  background-image: url("//live.staticflickr.com/7847/45606186465_9312b1ed6a_z.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* height: 80vh; */
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
}
.wrap-text{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color:aliceblue;
  font-size: large;
  
}
.content-left{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /* height: 70vh; */
  width: 100vw;
  margin-bottom:4%;
}
/* @querySelect */

.form1{
  display: flex;
  flex-direction: column;
  padding: 6% 5%;
  background-color: rgba(216, 214, 214, 0.2);
  border-radius: 15px;
  font-size: small;
}

.form2 label,.form2 input {
  vertical-align: middle; /* Ajusta el espacio entre elementos */
  justify-content: left; 
  margin:1.5px;
  
}

.form2 {
  padding: 3% 4%;
  height: 60%;
  line-height: 0.7;
}

h2{
  margin: 1%;
}

input[type="submit"]{
  background-color: #ffce39;
  border: none; 
  padding: 4px 30px; 
  cursor: pointer; 
  border-radius: 5px; 
  
}

input[type="submit"]:hover {
  background: #e68a00;
  color: white; 
}
