*{
  margin: 0;
  padding: 0;
} 

html{
  height:100%; 
}

body{
  margin: 0px;
  display: flex; 
  flex-direction: column; 
  min-height: 100%; 

}

section{
  display: flex; 
  flex-direction: row;
  min-height: 80vh;
}
.content-right{
  background-image: url("https://scontent.fyyz1-2.fna.fbcdn.net/v/t39.30808-6/310094743_407454664909984_7598802530665644239_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=6pvJ2rdI74AQ7kNvgF7hC3x&_nc_zt=23&_nc_ht=scontent.fyyz1-2.fna&_nc_gid=AKz3qLZLISA-UO0f4qOStkb&oh=00_AYD0y969va5-lkVT2av6o6c6Zxy8WHJIL5eV2o-ANId5FA&oe=6758EBA1");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-text{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: aliceblue;
  font-size: large;
}

.content-left{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100vw;
  margin-bottom: 0%;
}

.form1{
  display: flex;
  flex-direction: column;
  padding: 6% 5%;
  background-color: rgba(216, 214, 214, 0.2);
  border-radius: 15px;
  font-size: small;
}

.form2 label,.form2 input {
  vertical-align: middle; /* adjust space between elements */
  justify-content: left; 
  margin: 1.5px;
  
}

.form2 {
  padding: 3% 4%;
  height: 60%;
  line-height: 0.7;
}

h2{
  margin: 2%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#search-form{
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
 
}

#search-form input[type="text"] {
  margin: 5px; /* Space between elements */
  padding: 5px; /* Inner padding for better usability */
  border-color: gray;
  border-radius: 15px; /* Rounded corners */
}

.img-fluid{
  width: 10vw;
  height: auto;
}

/***/

table{
  font-family: "Roboto", sans-serif;
  scale: 0.95;
  border: 1px solid lightgray;
  border-collapse: collapse;
  max-width: 80%;
  margin: 0 auto;
}

th {
  min-width: 7vw;
  background-color: rgb(214, 229, 255); /* Blue background for header */
  padding: 8px;
  text-align: center;
  font-weight: bold;
  }

td {
  padding: 8px;
  border: 1px solid lightgray; /* Light gray border for rows */
}

tr.table-primary{
  justify-content: left;
  margin: 0 0;
}
tr: hover{
  background-color:#E8E8E8;
}

/**Responsive*/

/****/
@media(max-width: 30em){
  
  table tr{
    display: flex;
    flex-direction: column;
    border: 0.5px solid gray;
    margin-bottom: 0.5em;
  }
  table td{
    border: 0px;
    padding: 5%;
  }
  table th{
    display: none;
  }
  table td[data-title]{
    display: flex;
    
  }
  table td[data-title]::before{
    content: attr(data-title);
    scale:0.9;
    min-width: 25%;
    font-weight: 700;
    color: gray;
  }
  .img-fluid{
    width: 90%;
    height:auto;
  }

  .content-right{

    display: none;

  }
  .content-left{
    background-image: url("https://scontent.fyyz1-2.fna.fbcdn.net/v/t39.30808-6/310094743_407454664909984_7598802530665644239_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=6pvJ2rdI74AQ7kNvgF7hC3x&_nc_zt=23&_nc_ht=scontent.fyyz1-2.fna&_nc_gid=AKz3qLZLISA-UO0f4qOStkb&oh=00_AYD0y969va5-lkVT2av6o6c6Zxy8WHJIL5eV2o-ANId5FA&oe=6758EBA1");
    background-position: center center;
    background-size: cover;
    height: 80vh;
    margin-bottom:0;
    color: white;
    font-weight:700;
    }
  }
